# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Uploaded PDFs
app/uploads/

# ChromaDB
app/db/chroma_db/

# Test cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db